{% extends "padre.html" %}

{% load static %} 

{% block paginahead %}
<h1 class="mb-3">Hablamos de nosotros</h1>
{% endblock %} 

{% block articulo1 %}
<h1 class="mb-3">Sébastien</h1>
<ul>
 <li>Edad: 34 años.</li>
<li>Nacido en Bélgica, vive en Argentina.</li>
<li>Habla francés, español e inglés.</li>
<li>Estudió arquitectura.</li>
<li>Trabajó como inmobiliario por unos 10 años.</li>
<li>Aprende la programación por diversión.</li>
</ul>
{% endblock %} 

{% block articulo2 %}
<h1 class="mb-3">David</h1>
<ul>
 <li>Edad: 17 años.</li>
<li>Nacido en Péru, vive en Péru.</li>
<li>Habla español e inglés.</li>
<li>Quiere estudiar ingenería de software.</li>
<li>Muy interesado por el mundo de la programación</li>
</ul>
<br>
{% endblock %} 

{% block articulo3 %}
{% endblock %} 

{% block articulo4 %}
{% endblock %}

{% block boton %}
{% endblock %} 