{% extends "padre.html" %}

{% load static %} 

{% block paginahead %}
<h1 class="mb-3">Cambiar avatar de {{ usuario }}</h1>
{% endblock %} 

{% block articulo1 %}
<h4>AGREGAR AVATAR</h4> 
<form action="{% url 'agregarAvatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>
<br>
<button type="submit">CAMBIAR AVATAR</button>
<br>
</form>
{% endblock %} 
{% block articulo2 %}
{% endblock %} 

{% block articulo3 %}
{% endblock %} 
{% block articulo4 %}
{% endblock %}
{% block boton %}

{% endblock %} 