{% extends "padre.html" %}

{% load static %} 

{% block paginahead %}
<h1 class="mb-3">LOGIN</h1>
{% endblock %} 

{% block articulo1 %}
<h1>FORMULARIO DE INGRESO</h1>
<form action="{% url 'login' %}" method="POST"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>
<br>
<button type="submit">Iniciar sesión</button>
</form>

<h2>{{ mensaje }}</h2>
{% endblock %} 
{% block articulo2 %}
{% endblock %} 

{% block articulo3 %}
{% endblock %} 

{% block articulo4 %}
{% endblock %}

{% block boton %}
{% endblock %} 